@model SIRH.EY.Models.Competence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauActuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauActuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NiveauCible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NiveauCible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEvaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaborateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaborateur.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
