@model SIRH.EY.Models.Formation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DureeHeures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DureeHeures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapaciteMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapaciteMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacesPrises)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacesPrises)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
